html{
	font-size:62.5%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
.header {
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	/**
	background-image:url("../Sources/portada.jpg");
	background-position: center center;
	background-size: cover;**/
	background: url(../Sources/portada.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header img{
	margin-top: 25rem;
}

.barraNav{
	padding-top: 2rem;
	display: flex;
	flex-direction: row-reverse;
	padding-bottom: 2rem;
	background-color: rgba(86, 101, 115, 0.3);
	
}
.barraNav img{
	height: 15rem;
}
.barraNav a{
	color:white;
	font-size: 2rem;
	text-decoration-line: none;
	margin-right: 2rem;
}
.barraNav a:hover{
	color:rgb(101, 245, 149);
}
.prueba{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comer{
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-color: khaki;
}
.comer h3{
	font-size: 4rem;
}
.comer p{
	font-size: 3rem;
	max-width: 50rem;
}
/**fin comer**/
.visitar2{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.visitar{
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-color: rgb(247, 148, 82);
}
.visitar h3{
	direction: rtl;
	font-size: 4rem;
	padding-right: 4rem;
}
.visitar p{
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.visitar2 img{
	height: 30rem;
	padding-left: 4rem;
	
}
/** fin de visitas**/
.parques{
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-color: rgb(34, 93, 253);
}
.parques h3{
	font-size: 4rem;
}
.parques p{
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.parques2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.parques2 img{
	height: 30rem;
	padding-right: 4rem;
	
}
/** fin parques**/
.compras{
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-color: rgb(253, 34, 70);
}
.compras h3{
	font-size: 4rem;
}
.compras p{
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.compras2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.compras2 img{
	height: 30rem;
	padding-right: 4rem;
	
}
/**fin compras**/
.barraNavD{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.barraNavD img{
	height: 15rem;
}
.barraNavD a{
	color: white;
	font-size: 2rem;
	text-decoration-line: none;
	margin-right: 2rem;
}
.barraNavD a:hover{
	color:tomato;
}
#solo{
	margin-top: 10rem;
	text-align: center;
	margin-bottom: 10rem;
}

#foot img{
	height: 5rem;
	margin-right: 2rem;
}
#foot{
	display: flex;
	flex-direction:unset;
	justify-content: space-between;
	align-items: center;
	background-color:rgb(11, 178, 255);
}
#contacto{
	text-transform: lowercase;
	font-size: 1.5rem;
	color: white;
}