html{
	font-size:62.5%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
.header {
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	/**
	background-image:url("../Sources/portada.jpg");
	background-position: center center;
	background-size: cover;**/
	background: url(../Sources/portada.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header img{
	margin-top: 25rem;
}
main{
	font-family: 'PT Sans Narrow', sans-serif;
}
.barraNav{
	padding-top: 2rem;
	display: flex;
	flex-direction: row-reverse;
	padding-bottom: 2rem;
	background-image: url(../Sources/dots.png);
	
}

.barraNav a{
	color:white;
	font-size: 2rem;
	text-decoration-line: none;
	margin-right: 2rem;
}
.barraNav a:hover{
	color:rgb(101, 245, 149);
}
.prueba{
	margin-left: 4rem;
	margin-right: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comer{
	padding-bottom: 2rem;
	background-image: url(../Sources/Gastronomia-carneAsada\ -\ copia.jpg);
	background-size: cover;
}
.comer h3{
	margin-left: 4rem;
	font-size: 4rem;
}
.comer p{
	background-color: rgba(0, 0, 0, 0.068);
	font-size: 3rem;
	max-width: 50rem;
}
/**fin comer**/
.visitar2{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin-right: 4rem;
}
.visitar{
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-image: url(../Sources/chiguirosDesenfoque.jpg);
	background-size: cover;
}
.visitar h3{
	direction: rtl;
	font-size: 4rem;
	padding-right: 4rem;
}
.visitar p{
	background-color: rgba(0, 0, 0, 0.144);
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.visitar2 img{	
	height: 30rem;
	padding-left: 4rem;
	
}
/** fin de visitas**/
.parques{
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-image: url(../Sources/vivelamejor.jpg);
	background-size: cover;
}
.parques h3{
	font-size: 4rem;
}
.parques p{
	background-color: rgba(0, 0, 0, 0.068);
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.parques2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.parques2 img{
	height: 30rem;
	padding-right: 4rem;
	
}
/** fin parques**/
.compras{
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-image: url(../Sources/unicentro1Desenfoque.jpg);
	background-size: cover;
}
.compras h3{
	font-size: 4rem;
}
.compras p{
	background-color: rgba(0, 0, 0, 0.068);
	font-size: 3rem;
	max-width: 50rem;
	max-height: 30rem;	
}
.compras2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.compras2 img{
	height: 30rem;
	padding-right: 4rem;
	
}
/**fin compras**/
.barraNavD{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.barraNavD img{
	height: 15rem;
}
.barraNavD a{
	color: white;
	font-size: 2rem;
	text-decoration-line: none;
	margin-right: 2rem;
}
.barraNavD a:hover{
	color:tomato;
}
#foot img{
	height: 5rem;
	margin-right: 2rem;
}
#foot{
	display: flex;
	flex-direction:unset;
	justify-content: space-between;
	align-items: center;
	background-image: url(../Sources/dots.png);
}
#contacto{
	text-transform: lowercase;
	font-size: 1.5rem;
	color: white;
}