html{
	font-size:62.5%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: #E5E8E8;
}

.navegacion img{
	height: 7rem;
}
.navegacion{
	position: fixed;
	z-index: 100;
	width: 100%;
	display: flex;
	align-items: center;
	background-image: url(../Sources/dots.png);
	height: 6rem;
}
.navegacion a{
	margin-right: 4rem;
	text-decoration-line: none;
	font-size: 1.5rem;
	color: white;
}
.navegacion a :first-of-type{
	margin-left: 2rem;
}
.navegacion a :hover{
	color: salmon;
}
.lugaresSection{
	display: flex;
	flex-wrap: wrap;
    margin-left: 2rem;
}
.lugares h2{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	max-width: 40rem;
	background-color:#D6EAF8;
}
.lugaresSection img{
	height: 30rem;
	max-width: 40rem;
}
.lugares{
	margin-top: 10rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color:#EBF5FB;
	text-align: justify;
}
.lugares p{
	max-width: 38rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.solo{
	padding-top: 25.2%;
	background: url(../Sources/chiguiros.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#azul{
	color: rgb(1, 139, 252);
}
#verde{
	color: rgb(119, 194, 6);
}
.solo h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.13);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 10rem;
}

.navegacionf {
	display: flex;
	align-items: center;
	background-image: url(../Sources/dots.png);
	height: 6rem;
}



#images img{	
	margin-left: 20rem;
	height: 5rem;
}	