
body{
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}

.contenedor{
    width: 400px;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    /** espacio del fondo**/
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}


.contenido-slider > img{
    /**tamaño de la imagen**/
    width: 400px;
}

.contenido-slider > div{
    /**ancho del texto**/
    width: 40%;
}

.contenido-slider h2{
    font-weight: 10;
    text-align: justify;
    /**espacio de salto de linea**/
    line-height: 30px;
}

.contenido-slider a{
    /**el ver mas**/
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 50px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 30%;
    }

}

/************************************************************/
