html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
	font-family: 'Catamaran', sans-serif;
}
.cabeza{
	background: url(../Sources/ristorante.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.lugaresSection{
	/** poner justify-content: space-between; cuando son elementos multiplos de tres**/
	display: flex;
	flex-wrap: wrap;
	margin-left: 2rem;
}
.lugaresSection :first-of-type{
	margin-left: 0rem;
}
.lugares h2{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	max-width: 40rem;
	background-color:#EAFAF1;
}
.lugaresSection img{
	height: 30rem;
	max-width: 40rem;
}
.lugares{
	margin-top: 10rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #F4F6F6;
	text-align: justify;
}
.lugares p{
	max-width: 38rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.navegacion{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-image: url(../Sources/dots.png);
	height: 6rem;
}
.navegacion :first-of-type{
	margin-left: 2rem;
}
.navegacion :last-of-type{
	margin-right: 2rem;
}
.navegacion a {
	font-size: 2rem;
	color: tomato;
	text-decoration: none;
	font-weight: 700;
	text-shadow: none;
}

.navegacion a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.navegacion a:hover::before,
.navegacion a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

.navegacion img{
	height: 5rem;
	margin-top: 1.5rem;
}
#images {
	display: flex;
}
#images img{
	height: 5rem;
}
.navegacionf{
	background-image: url(../Sources/dots.png);
	height: 6rem;
}
.navegacionf img{
	display: flex;
	margin-left: 20rem;
}
.conjunto{
	display: flex;	
	flex-direction: row;	
	align-items: center;
	justify-content: space-between;
	padding-right: 15rem;
	
}

.solo h1{
	font-family: 'Catamaran', sans-serif;
	font-family: 'Fredoka One', cursive;
	color: #279BEC;
	font-size: 10rem;
	text-align: center;
	max-width: 40rem;
}
.solo p{
	font-family: 'Poor Story', cursive;
	font-size: 3rem;
	text-align: center;
	text-align: justify;
	max-width: 70rem;
	background-color: rgba(71, 62, 31, 0.103);	
}
.verde{
	color:#57CA11;
}